<div class="container-fluid">
    <div>
        <div ng-show="model.errorMessage" class="alert alert-danger">
             {{model.errorMessage}}
        </div>

        <h2>Login</h2>

        <label for="username">Username</label>
        <input name="username"
               type="text"
               class="form-control"
               placeholder="david"
               id="username"
               ng-model="model.user.username"/>

        <label for="password">Password</label>
        <input name="password"
               class="form-control"
               type="password"
               placeholder="david123"
               ng-model="model.user.password"
               id="password"/>

        <a class="btn btn-default btn-block btn-primary"
           role="button"
           ng-click="model.login(model.user)">Login</a>

        <a class="btn btn-default btn-block btn-success"
           href="#!/register"
           role="button">Register</a>
    </div>
</div>