<div class="container-fluid">

    <h2>Register</h2>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <label for="username">Username</label>
    <input name="username"
           type="text"
           class="form-control"
           placeholder="david"
           id="username"
            ng-model = "model.user.username"/>

    <label for="password">Password</label>
    <input name="password"
           class="form-control"
           type="password"
           placeholder="david123"
           id="password"
           ng-model = "model.user.password"/>

    <label for="confirm-password">Confirm Password</label>
    <input name="confirm-password"
           class="form-control"
           type="password"
           placeholder="david123"
           id="confirm-password"
           ng-model = "model.user.password2"/>

    <a class="btn btn-default btn-block btn-primary"
       ng-click = "model.registerUser(model.user)"
       role="button">Register</a>

    <a class="btn btn-default btn-block btn-danger"
       href="#!/login"
       role="button">Cancel</a>
</div>