<div>
    <nav class="navbar rak-navbar-color navbar-fixed-top nav-collapse collapsing">
        <div class="container-fluid">
            <a href="#!/">
            <span
                    class="glyphicon glyphicon-chevron-left white pull-left glyphicon-chevron-position">
            </span>
            </a>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div>
                <a class="navbar-brand" white href="#!/customer-profile/{{model.userId}}">Edit Restaurant</a>
            </div>
            <div>
                <a ng-click = "model.updateUser(model.user)"><span class="glyphicon glyphicon-ok pull-right
                  navbar-right glyphicon-ok-position white" aria-expanded="true"
                                                                   aria-hidden="true"></span>
                </a>
            </div>
            <!--</div>-->

        </div><!-- /.container-fluid -->
    </nav>


<div class="container-fluid">

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <label for="name">Restaurant Name</label>
    <input name="name"
           type="text"
           class="form-control"
           placeholder="Hotel Empire"
           id="name"
           ng-model = "model.restaurant.name"/>

    <label for="phone">Display Phone Number</label>
    <input name="phone"
           class="form-control"
           type="text"
           placeholder="(857) 423-6959"
           id="phone"
           ng-model = "model.restaurant.display_phone"/>

    <label for="phonenumber">Phone Number</label>
    <input name="phonenumber"
           class="form-control"
           type="text"
           placeholder="+8574239656"
           id="phonenumber"
           ng-model = "model.restaurant.phone"/>

    <label for="price">Price</label>
    <input name="price"
           class="form-control"
           type="text"
           placeholder="$$$"
           id="price"
           ng-model = "model.restaurant.price"/>

    <label for="photo1">Photo</label>
    <input name="photo1"
           class="form-control"
           type="text"
           placeholder="http://www.emilesrestaurant.com/restaurant-691397_960_720.jpg"
           id="photo1"
           ng-model = "model.photos.photo1"/>

    <label for="photo2">One more photo?</label>
    <input name="photo2"
           class="form-control"
           type="text"
           placeholder="http://www.emilesrestaurant.com/restaurant-691397_960_721.jpg"
           id="photo2"
           ng-model = "model.photos.photo2"/>

    <label for="photo3">Ok, the last photo</label>
    <input name="photo3"
           class="form-control"
           type="text"
           placeholder="http://www.emilesrestaurant.com/restaurant-691397_960_722.jpg"
           id="photo3"
           ng-model = "model.photos.photo3"/>

    <label for="address1">Location</label>
    <div>
    <span>
            <input name="address1"
                   type="text"
                   placeholder="address1"
                   id="address1"
                   ng-model = "model.restaurant.location.address1"/>

                    <input name="address2"
                           type="text"
                           placeholder="address2"
                           id="address2"
                           ng-model = "model.restaurant.location.address2"/>
                    <input name="address3"
                           type="text"
                           placeholder="address3"
                           id="address3"
                           ng-model = "model.restaurant.location.address3"/>
                    <input name="city"
                           type="text"
                           placeholder="city"
                           id="city"
                           ng-model = "model.restaurant.location.city"/>
                    <input name="zipcode"
                           type="text"
                           placeholder="zipcode"
                           id="zipcode"
                           ng-model = "model.restaurant.location.zip_code"/>
                    <input name="country"
                           type="text"
                           placeholder="country"
                           id="country"
                           ng-model = "model.restaurant.location.country"/>
                    <input name="state"
                           type="text"
                           placeholder="state"
                           id="state"
                           ng-model = "model.restaurant.location.state"/>
                    <input name="displayaddress"
                           type="text"
                           placeholder="Dispay Address"
                           id="displayaddress"
                           ng-model = "model.restaurant.location.display_address"/>
    </span>
    </div>

    <span>
    <label>Categories</label>
        <div>
            <span>
        <label>Alias</label>
        <input name="alias"
               type="text"
               placeholder="burgers"
               id="alias"
               ng-model = "model.restaurant.categories.alias"/>

        <label>Title</label>
            <input name="title"
                   type="text"
                   placeholder="Burgers"
                   id="title"
                   ng-model = "model.restaurant.categories.title"/>
                </span>
            </div>
        </span>

    <a class="btn btn-default btn-block btn-primary"
       ng-click = "model.updateRestaurant(model.restaurant, model.photos)"
       role="button">Update</a>

    <a class="btn btn-default btn-block btn-danger"
       href="#!/login"
       role="button">Cancel</a>
</div>
    <div ng-include="'views/footerCommon.view.client.html'"></div>
</div>