<nav class="navbar rak-navbar-color navbar-fixed-top nav-collapse collapsing">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a href="#!/">
        <span class="glyphicon glyphicon-chevron-left
        white pull-left glyphicon-chevron-position"></span>
        </a>
        <div>
            <a class="navbar-brand" href="">Reviews</a>
        </div>
        <!--</div>-->

    </div><!-- /.container-fluid -->
</nav>
<div>
<ul class="list-group">
    <div ng-repeat = "review in model.reviews" class="wd-widget">
        <li class="list-group-item">
            <div>
                <a href="">{{review.text}}</a>
                <!--<a href="">{{local.text}}</a>-->
            </div></li>
<!--        <li>
            <div>
                <a href="">{{model.localReview.text}}</a>
                &lt;!&ndash;<a href="">{{local.text}}</a>&ndash;&gt;
            </div>
        </li>-->
<!--            <div ng-repeat = "local in model.localReview">
                &lt;!&ndash;<a href="">{{review.text}}</a>&ndash;&gt;
                <a href="">{{local.text}}</a>
            </div>-->
    </div>
    <!--<div ng-repeat = "local in model.localReview">-->
        <!--<a href="">{{review.text}}</a>-->
    <div>
        <span>
            <a href="">{{model.text1}}</a>
<!--                            <button
                                    class="btn btn-danger"
                                    ng-click = "model.updateReview(model.reviewId)">Update</button>-->
                <button class="btn btn-danger"
                        ng-click = "model.deleteReview(model.userId,model.restaurantId, model.reviewId)"
                        pull-right>Delete</button>
        </span>
    </div>
    <div>
        <span>
            <a href="">{{model.text2}}</a>
 <!--                           <button
                                    class="btn btn-danger"
                                    ng-click = "model.updateReview(model.reviewId)">Update</button>-->
                <button class="btn btn-danger"
                        ng-click = "model.deleteReview(model.userId,model.restaurantId, model.reviewId)">Delete</button>
        </span>
    </div>
    <div>
        <span>
            <a href="">{{model.text3}}</a>
<!--                            <button
                                    class="btn btn-danger"
                                    ng-click = "model.updateReview(model.reviewId)">Update</button>-->
                <button class="btn btn-danger"
                        ng-click = "model.deleteReview(model.userId,model.restaurantId, model.reviewId)">Delete</button>
        </span>
    </div>
   <!-- </div>-->
<!--    <div ng-repeat = "review in model.localReviews" class="wd-widget">
        <li class="list-group-item">
            <div>
                <a href="#!/owner">{{review.text}}</a>
                <button
                        type="button"
                        class="btn btn-default btn-sm pull-right rak-follow-button-padding"
                        ng-click = "model.followMe(review.username)">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Update
                </button>
            </div>
    </div>-->
</ul>
</div>
    <div ng-include="'views/footerCommon.view.client.html'"></div>
</div>