<h1>Yelp Fusion API</h1>
<h2>Search by restaurant name</h2>
<input class="form-control" placeholder="Shake Shack" ng-model="searchInput">
<button ng-click="model.searchRestaurantByTitle(searchInput)" class="btn btn-primary btn-block">Search</button>
<table class="table">
    <tr ng-repeat="restaurant in model.restaurants">
        <td>
            <a href="#!/details/{{restaurant.id}}">{{restaurant.name}}</a>
        </td>
        <td>
            <img ng-src="{{restaurant.image_url}}" width="70%"/>
        </td>
    </tr>
</table>