<div>

<nav class="navbar rak-navbar-color navbar-fixed-top nav-collapse collapsing">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
        <span class="glyphicon glyphicon-chevron-left
        white pull-left glyphicon-chevron-position"></span>
        </a>
        <div>
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">Choose Widget</a>
        </div>

    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 visible-lg visible-md split-view-left">
            <div class="container-fluid rak-navbar-padding-top">
                <div ng-repeat = "widget in model.widgets" class="wd-widget">
                    <div class="wd-widget-toolbar rak-cog-align-combo">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog">
                </span>
                        </a>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                    <div ng-include="model.widgetUrl(widget)"></div>
            </div>
        </div>
        </div>

        <div class="col-lg-9 col-md-9 col-xs-12 rak-split-view-right rak-split-view-right-medium">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <a ng-click = "model.createWidget('HEADING')"><div class="col-xs-12">Header</div></a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                                <div class="col-xs-12">Label</div></a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <a ng-click = "model.createWidget('HTML')">
                                <div class="col-xs-12">HTML</div>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <a ng-click = "model.createWidget('INPUT')">
                                <div class="col-xs-12">Text Input</div>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                                <div class="col-xs-12">Link</div></a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                                <div class="col-xs-12">Button</div></a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <a ng-click = "model.createWidget('IMAGE')"><div class="col-xs-12">Image</div></a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <a ng-click = "model.createWidget('YOUTUBE')"><div class="col-xs-12">Youtube</div></a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                                <div class="col-xs-12">Data Table</div></a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                                <div class="col-xs-12">Repeater</div></a>
                        </div>
                    </li>
                </ul>

</div>
        </div></div>

    <div ng-include="'views/footerCommon.view.client.html'"></div>
</div>