<div>
<nav class="navbar rak-navbar-color navbar-fixed-top nav-collapse collapsing">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span
                    class="glyphicon glyphicon-chevron-left white pull-left glyphicon-chevron-position">
            </span>
        </a>
        <div>
            <a class="navbar-brand">Widget Edit</a>
        </div>
            <div>
            <!--<a href="widget-list.view.client.html">-->
                <span
                        class="glyphicon glyphicon-ok
                         glyphicon-ok-position white" aria-expanded="true"
                         aria-hidden="true"
                        ng-click = "model.updateWidget(model.widget)">
                </span>
            </a>
            </div>
        <!--</div>-->

    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
        <div>
            <label for="name">Name</label>
            <input name="name"
                   type="text"
                   class="form-control"
                   placeholder="Chromecast"
                   id="name"
                   readonly
                   ng-model = "model.widget.widgetType"
                    value = "{{model.widgetType.toLowerCase()}}"/>

            <label for="text">Text</label>
            <input name="text"
                   type="text"
                      class="form-control"
                      placeholder="Chromecast helps google home connect to TV"
                      id="text"
                   ng-model = "model.widget.text"
                   value = "{{model.text}}"/>

            <label for="url">URL</label>
            <input name="url"
                   type="text"
                   class="form-control"
                   placeholder="https://tse4.mm.bing.net/Mclaren-f1.jpg"
                   id="url"
                   ng-model = "model.widget.url"
                   value = "{{model.url}}"/>

            <label for="width">Width</label>
            <input name="width"
                   type="text"
                   class="form-control"
                   placeholder="100%"
                   id="width"
                   ng-model = "model.widget.width"
                   value = "{{model.width}}"/>

            <label>Upload</label>
            <form action="/api/upload"   method="post" enctype="multipart/form-data">
                <input  name="myFile"    type="file" class="form-control"/>
                <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
                <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
                <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
                <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
                <input  name="widgetId"  value="{{model.widgetId}}"   style="display: none"/>
                <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
            </form>

            <button ng-click = "model.flickrSearch(model.widgetId)"
                    class="btn btn-info btn-block">
                Search
            </button>

            <a class="btn btn-default btn-block btn-danger"
               ng-click = "model.deleteWidget(model.widget._id)"
               role="button">Delete</a>

        </div>

    <div ng-include="'views/footerCommon.view.client.html'"></div>


    </div><!-- /.container-fluid -->
</div>