<div>
<nav class="navbar rak-navbar-color navbar-fixed-top nav-collapse collapsing">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a href="#!/user/{{model.userId}}/website">
            <span class="glyphicon glyphicon-chevron-left
                white pull-left glyphicon-chevron-position">
            </span>
        </a>
        <div>
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/new">New Website</a>
        </div>
            <div>
            <a ng-click = "model.createWebsite(model.website)"><span class="glyphicon glyphicon-ok
                glyphicon-ok-position white" aria-expanded="true" aria-hidden="true"></span>
            </a>
            </div>
        <!--</div>-->

    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">

    <div class="row">
        <div class="col-xs-3 visible-lg visible-md split-view-left">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-10">Name</div>
<!--                        <div class="col-xs-5 col-sm-3">Updated</div>
                        <div class="col-xs-2 hidden-xs">Visits</div>-->
                        <div class="col-xs-2">
                            <a href="#!/user/{{model.userId}}/website/new">
                        <span class="glyphicon glyphicon-plus pull-right white">
                        </span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div ng-repeat = "website in model.websites" class="row">
                        <a href="#!/user/{{model.userId}}/website/{{website._id}}/page"><div class="col-xs-10">{{website.name}}</div></a>
<!--                        <div class="col-xs-5 col-sm-3">2017-08-06</div>
                        <div class="col-xs-2 hidden-xs">5,432,199</div>-->
                        <div class="col-xs-2">
                            <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right">
                        </span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-9 col-xs-12 rak-split-view-right rak-split-view-right-medium">
            <label for="name">Name</label>
            <input name="name"
                   type="text"
                   class="form-control"
                   placeholder="Facebook"
                   id="name"
                    ng-model = "model.website.name"/>

            <label for="description">Description</label>
            <textarea name="description"
                      class="form-control"
                      rows="5"
                      placeholder="Largest country in the world"
                      id="description"
                        ng-model = "model.website.description"></textarea>

            <a class="btn btn-default btn-block btn-primary"
                ng-click = "model.createWebsite(model.website)"
               role="button">Create</a>
            <!--href="website-list.view.client.html"-->

            <a class="btn btn-default btn-block btn-danger"
               href="#!/user/{{model.userId}}/website"
               role="button">Cancel</a>

        </div>
        <div ng-include="'views/footerCommon.view.client.html'"></div>
    </div>


    </div><!-- /.container-fluid -->
</div>