<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div>
            <a href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user pull-right
                    navbar-right glyphicon-ok-position white"
                      aria-hidden="true">
                </span>
            </a>
        </div>

        <div>
            <a href="#">
                <span class="glyphicon glyphicon-play pull-left
                    glyphicon-ok-position white"
                      aria-hidden="true">
                </span>
            </a>
        </div>
        <div>
            <a href="#">
                <span class="glyphicon glyphicon-eye-open pull-left
                    glyphicon-ok-position white"
                      aria-hidden="true">
                </span>
            </a>
        </div>
    </div><!-- /.container-fluid -->
</nav>