<div>
<nav class="navbar rak-navbar-color navbar-fixed-top nav-collapse collapsing">
    <div class="container-fluid">
        <a href="#!/">
            <span
                    class="glyphicon glyphicon-chevron-left white pull-left glyphicon-chevron-position">
            </span>
        </a>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div>
            <a class="navbar-brand" white href="#!/customer-profile/{{model.userId}}">Customer Profile</a>
        </div>
            <div>
            <a ng-click = "model.updateUser(model.user)"><span class="glyphicon glyphicon-ok pull-right
                  navbar-right glyphicon-ok-position white" aria-expanded="true"
                                                     aria-hidden="true"></span>
            </a>
            </div>
        <!--</div>-->

    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">

    <button
            type="button"
            class="btn btn-default btn-sm pull-right rak-follow-button-padding"
            ng-click = "model.getOwnersList()">
        Restaurant Owners
    </button>

    <label for="username" class="rak-username-margin">Username</label>
    <input name="username"
           type="text"
           class="form-control"
           readonly
           value="david"
           id="username"
            ng-model = "model.user.username"/>

    <label for="email">Email</label>
    <input name="email"
           class="form-control"
           placeholder="david@gmail.com"
           type="email"
           id="email"
           ng-model = "model.user.email"/>

    <label for="firstName">First Name</label>
    <input name="firstName"
           type="text"
           class="form-control"
           placeholder="david"
           id="firstName"
           ng-model = "model.user.firstName"/>

    <label for="lastName">Last Name</label>
    <input name="lastName"
           type="text"
           class="form-control"
           placeholder="coulthard"
           id="lastName"
           ng-model = "model.user.lastName"/>
    <label>Owners you are following</label>
    <div ng-repeat="owner in model.following">
        <span>{{owner}}   </span>
    </div>
    <ul class="list-group">
        <div ng-repeat = "restaurant in model.user.restaurants" class="wd-widget">
            <li class="list-group-item" ng-repeat = "restaurant in model.user.restaurants">
                <div>
                    <a href="#!/restaurant-details/{{model.user.restaurants._id}}">{{restaurant.name}}</a>
<!--                    <button
                            type="button"
                            class="btn btn-default btn-sm pull-right rak-follow-button-padding"
                            ng-click = "model.followMe(owner.username)">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Follow Me
                    </button>-->
                </div>
        </div>
    </ul>

<!--    <a class="btn btn-default btn-block btn-primary"
       href="#!/user/{{model.user._id}}/website"
       role="button">Websites</a>-->

    <a class="btn btn-default btn-block btn-danger"
       ng-click="model.logout()"
       role="button">Logout</a>

    <a class="btn btn-default btn-block btn-danger"
       ng-click = "model.unregister(model.user._id)"
       role="button">Unregister</a>

    <a class="btn btn-default btn-block btn-primary"
       ng-click = "model.updateUser(model.user)"
       role="button">Update</a>
</div>

    <div ng-include="'views/footerCommon.view.client.html'"></div>
</div>