<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owners List</title>
</head>
<body>
<ul class="list-group">
<div ng-repeat = "owner in model.ownersList" class="wd-widget">
    <li class="list-group-item" ng-repeat = "owner in model.ownersList">
        <div>
            <a href="#!/owner">{{owner.username}}</a>
            <button
                    type="button"
                    class="btn btn-default btn-sm pull-right rak-follow-button-padding"
                    ng-click = "model.followMe(owner.username)">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Follow Me
            </button>
        </div>
</div>
</ul>
</body>
</html>