<div class="container-fluid rak-register-body">

    <h2>Register</h2>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <label for="username">Username</label>
    <input name="username"
           type="text"
           class="form-control"
           placeholder="david"
           id="username"
            ng-model = "model.user.username"/>

    <label for="password">Password</label>
    <input name="password"
           class="form-control"
           type="password"
           placeholder="david123"
           id="password"
           ng-model = "model.user.password"/>

    <label for="password">Confirm Password</label>
    <input name="password"
           class="form-control"
           type="password"
           placeholder="david123"
           id="password2"
           ng-model = "model.user.password2"/>

    <label for="email">Email</label>
    <input name="email"
           class="form-control"
           type="email"
           placeholder="rock@gmail.com"
           id="email"
           ng-model = "model.user.email"/>

    <label for="phone">Phone</label>
    <input name="phone"
           class="form-control"
           type="String"
           placeholder="8572503314"
           id="phone"
           ng-model = "model.user.phone"/>

    <input
            type="radio"
            name="customer"
            id="customer"
            value="CUSTOMER"
            ng-model = "model.user.roles"/>
    <label for="customer">Customer</label>
    <input
            type="radio"
            name="Owner"
            id="Owner"
            value="OWNER"
            ng-model = "model.user.roles"/>
    <label for="Owner">Owner</label>

    <input
            type="radio"
            name="admin"
            id="admin"
            value="ADMIN"
            ng-model = "model.user.roles"/>
    <label for="Owner">Admin</label>

    <a class="btn btn-default btn-block btn-primary"
       ng-click = "model.registerUser(model.user)"
       role="button">Register</a>

    <a class="btn btn-default btn-block btn-danger"
       href="#!/login"
       role="button">Cancel</a>
</div>