<div>
<nav class="navbar rak-navbar-color navbar-fixed-top nav-collapse collapsing">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a href="#!/user/{{model.userId}}/website">
        <span class="glyphicon glyphicon-chevron-left
        white pull-left glyphicon-chevron-position"></span>
        </a>
        <div>
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">Pages</a>
        </div>
            <div>
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                    <span class="glyphicon glyphicon-plus
                     glyphicon-ok-position white"
                     aria-hidden="true"></span>
                </a>
            </div>
        <!--</div>-->

    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <div ng-repeat = "page in model.pages"class="row">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget"><div class="col-xs-10">{{page.name}}</div></a>
                <div class="col-xs-2">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right">
                        </span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

</div>

    <div ng-include="'views/footerCommon.view.client.html'"></div>
</div>